<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ShoppersHub Products</title>
</head>
<body>
<h1 th:text="${product.getProductName()}">Name</h1>
<table>
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Product Description</th>
        <th>Product Price</th>
        <th>Product Preview</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p th:text="${product.productName}">Product Name</p>
            </td>
            <td>
                <p th:text="${product.productDesc}">Product Description</p>
            </td>
            <td>
                <p th:utext="${'&#8377; '+ #numbers.formatDecimal(product.price,3,'COMMA',2,'POINT')}">Product Price</p>
            </td>
            <td>
                <img src="" alt="Product Image" width="100px" th:src="@{${'/product/' + product.getId() + '/productImage'}}" />
            </td>
            <td>
                <a href="#">Add to Cart</a>
<!--                <a th:href="@{'/admin/product/' + ${product.getId()} + '/update'}">Add to Cart</a>-->
            </td>
        </tr>
    </tbody>
</table>
</body>
</html>