<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shoppershub Register User</title>
</head>
<body>

<form th:object="${admin}" th:action="@{/admin/save}" method="post">
    <table>
        <thead>
        <tr>
            <th>Label</th>
            <th>Details</th>
        </tr>
        </thead>
        <input type="hidden" th:field="*{id}"/>
        <tbody>
        <tr>
            <td><label for="fullName" th:text="'Full Name'">Full Name</label></td>
            <td><input id="fullName" type="text" th:field="*{fullName}" /></td>
        </tr>
        <tr>
            <td><label for="password" th:text="'Password'">Password</label></td>
            <td><input id="password" type="password" th:field="*{password}" /></td>
        </tr>
        <tr>
            <td><label for="email" th:text="'Email'">Email</label></td>
            <td><input id="email" type="email" th:field="*{email}" /></td>
        </tr>
        <tr>
            <td><label for="mobile" th:text="'Mobile'">Mobile</label></td>
            <td><input id="mobile" type="text" th:field="*{mobile}" /></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
        </tbody>
    </table>
</form>
</body>
</html>